# Network Configuration
HARDHAT_NETWORK=localhost
RPC_URL=http://127.0.0.1:8545
CHAIN_ID=31337

# Deployment
DEPLOYER_PRIVATE_KEY=

# Frontend
NEXT_PUBLIC_CHAIN_ID=31337
NEXT_PUBLIC_RPC_URL=http://127.0.0.1:8545

# Optional: Gas Reporter
REPORT_GAS=false
COINMARKETCAP_API_KEY=

# Optional: Contract Verification
ETHERSCAN_API_KEY=
